@import '../root/Themes.scss';

.item {
  flex: 0 0 100%;
  background-color: rgba(var(--second-color), 1.0);
  padding: 10px;
  border-radius: 2px;
  
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  -webkit-box-shadow: 0px 0px 8px 0px rgba(var(--text-color), 0.4);
  -moz-box-shadow: 0px 0px 8px 0px rgba(var(--text-color),  0.4);
  box-shadow: 0px 0px 5px 0px rgba(var(--text-color),  0.4);
}

.title {
  color: rgb(var(--text-color));
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;

  @media(max-width: 768px) {
    font-size: 20px;
  }
}

.createdAt {
  color: rgba(var(--text-color), 0.7);
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}